<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,201},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,201},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,201},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,201},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>boy_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boyrunning.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a66f0c5a4853c266fe8cf660191113de:ee685205d7f585bb941fad16085a5ac0:0b0ea62aa66404c8a67f1310c186de7c$</string>
            <key>textureFileName</key>
            <string>boyrunning.png</string>
        </dict>
    </dict>
</plist>
